<ActionBar title="Accueil" class="ActionBarTitle">
    
    <NavigationButton text="Go Back" icon="res://ic_navbar"></NavigationButton>
    <ActionItem ios.systemIcon="2" icon="res://ic_notifications" ios.position="right"></ActionItem>
    <ActionItem ios.systemIcon="3" icon="res://ic_account" ios.position="right"></ActionItem>

</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>
    
    <!--
        Test de migration de GitLab a GitHub
    -->
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent>
        <TabView selectedIndex="1">
            <StackLayout *tabItem="{title:'Euro €'}">
                <Label text="Compte Devise Euro" class="TabLabel"></Label>
                <StackLayout orientation="vertical" class="card" style="background-color: #4ED1ED">
                    <Label text="Balance Totale" class="cardTitle"></Label>
                    <Label text="19 834,00 €" class="cardTotal"></Label>
                    <Label text="Taux De Change" class="cardTitle"></Label>
                    <Label text="1€ = 140,40 DZD" class="tauxDeChange"></Label>
                    <Button class="card-button" text="Effectuer Virement"></Button>
                    <Button class="card-button" text="Historique"></Button>
                </StackLayout>
            </StackLayout>
            <StackLayout *tabItem="{title:'DZD'}">
                    <Label text="Compte Courant" class="TabLabel"></Label>
                    <StackLayout orientation="vertical" class="card" style="background-color: #20364D">
                        <Label text="Balance Totale" class="cardTitle"></Label>
                        <Label text="19834 DZD" class="cardTotal"></Label>
                        <Label text="" class="cardTitle"></Label>
                        <Label text="" class="tauxDeChange"></Label>
                        <Button class="card-button" text="Effectuer Virement"></Button>
                        <Button class="card-button" text="Historique"></Button>
                    </StackLayout>
                </StackLayout>
                <StackLayout *tabItem="{title:'DZD'}">
                        <Label text="Compte Epargne" class="TabLabel"></Label>
                        <StackLayout orientation="vertical" class="card" style="background-color: #004346">
                            <Label text="Balance Totale" class="cardTitle"></Label>
                            <Label text="19834 DZD" class="cardTotal"></Label>
                            <Label text="" class="cardTitle"></Label>
                            <Label text="" class="tauxDeChange"></Label>
                            <Button class="card-button" text="Effectuer Virement"></Button>
                            <Button class="card-button" text="Historique"></Button>
                        </StackLayout>
                    </StackLayout>
                     <StackLayout *tabItem="{title:'Dollar $'}">
                <Label text="Compte Devise Dollar" class="TabLabel"></Label>
                <StackLayout orientation="vertical" class="card" style="background-color: #0DD9A3">
                    <Label text="Balance Totale" class="cardTitle"></Label>
                    <Label text="19834 $" class="cardTotal"></Label>
                    <Label text="Taux De Change" class="cardTitle"></Label>
                    <Label text="1$ = 140,40 DZD" class="tauxDeChange"></Label>
                    <Button class="card-button" text="Effectuer Virement"></Button>
                    <Button class="card-button" text="Historique"></Button>
                </StackLayout>
            </StackLayout>
            
        </TabView>  
      <StackLayout>
                <FAB (tap)="fabTap()"  rippleColor="#f1f1f1" class="fab-button"></FAB>
        </StackLayout>
    </GridLayout>
</RadSideDrawer>

