<ActionBar title="Profil" class="ActionBarTitle">
    
    <NavigationButton text="Go Back" icon="res://ic_navbar"></NavigationButton>
    <ActionItem ios.systemIcon="2" icon="res://ic_notifications" ios.position="right"></ActionItem>
    <ActionItem ios.systemIcon="3" icon="res://ic_account" ios.position="right"></ActionItem>

</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Profile'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent style="background-color: gainsboro">
        <StackLayout>
            <StackLayout>
                <StackLayout orientation="horizontal" class="profil">
                    <Image src="res://avatar" stretch="none" horizontalAlignment="center"></Image>
                    <StackLayout orientation="vertical" class="profil-info">
                        <Label class="profil-email" text=""></Label>
                        <Label class="profil-name"  [text]="user.firstname"></Label>
                        <Label class="profil-email" text="ea_azzi@esi.dz"></Label>
                        <Label class="profil-email" text="0659949808"></Label>
                    </StackLayout>
                </StackLayout>
                <Button class="edit-button" text="Edit Profil"></Button>
            </StackLayout>
                     
            <StackLayout class="list-layout">
                <Label text= "Comtpes" class="list-comptes"></Label>
                <ListView [items]="students">
                    <ng-template let-item="item">
                        <StackLayout orientation="horizontal" class="list-item">
                            <Image src="res://ic_dzd_courant" stretch="none" horizontalAlignment="center"></Image>
                            <StackLayout orientation="vertical">
                                <Label [text] = "item" class="list-label"></Label>
                                <Label [text] = "item" class="list-cost"></Label>
                            </StackLayout>
                        </StackLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</RadSideDrawer>