<StackLayout>
	<Image src="res://login_logo" stretch="none" horizontalAlignment="center"></Image>
	<ScrollView orientation="vertical">
	<StackLayout>
	
		<TextField hint="Adresse"  [(ngModel)]="user.address"></TextField>
		
		<TextField hint="Numero Telephone"  [(ngModel)]="user.phone"></TextField>
		
		<TextField hint="Fonction"  [(ngModel)]="user.job"></TextField>
		
		<Button class="profile-button" text="Photo de profil" (tap)="cameraOpen()"></Button>
		<Image [src]="picture"></Image>
		<Button class="conf-button" text="Confirmer" (tap)="register()"></Button>
		<Label class="label-register" (tap)="goBack()" text="Page précédente"></Label>
	
	</StackLayout>
	</ScrollView>
	</StackLayout>