<StackLayout >
    <ScrollView orientation="vertical">
        <StackLayout >
            <Image src="res://login_logo" stretch="none" horizontalAlignment="center"></Image>

            <TextField  hint="Nom"  [(ngModel)]="user.firstname"></TextField>
                            
            <TextField  hint="Prenom" [(ngModel)]="user.lastname"></TextField>

            <TextField  hint="Adresse Email" keyboardType="email" [(ngModel)]="user.email"></TextField>

            <TextField  hint="Mot De Passe" secure="true" [(ngModel)]="user.password"></TextField>
                        
            <Button class="next-button" text="Suivant" (tap)="goSuivant()"></Button>

            <Label class="label-register" (tap)="goBack()" text="Vous possédez un compte? Se conntecter ici."></Label>

        </StackLayout>

    </ScrollView>
</StackLayout>