<ActionBar title="Historique" class="ActionBarTitle">
    
    <NavigationButton text="Go Back" icon="res://ic_arrow_back"></NavigationButton>
    <ActionItem ios.systemIcon="2" icon="res://ic_notifications" ios.position="right"></ActionItem>
    <ActionItem ios.systemIcon="3" icon="res://ic_account" ios.position="right"></ActionItem>

</ActionBar>
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Historique'"></MyDrawer>
    </StackLayout>

    <GridLayout class="page page-content" tkMainContent>
        <ListView [items]=virements (itemTap)="onItemTap($event)">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="horizontal" class="list-item">
                    <Image src="res://ic_avatar" stretch="none" horizontalAlignment="center"></Image>
                    <StackLayout orientation="vertical">
                        <Label [text] = "item.dateV" class="list-label"></Label>
                        <StackLayout orientation="horizontal" class="list-cost" >
                            <Label [text] = "item.montant"></Label>
                        </StackLayout>
                        <Label [text] = "item.montant" class="list-cost"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="list-date">
                        <Label class="list-label"></Label>
                        <Label [text] = "item"></Label>
                        <Label [text] = "item"></Label>
                    </StackLayout>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>

</RadSideDrawer>
